
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,300;0,500;0,600;0,800;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
      font-family: 'saira', Arial, Helvetica, sans-serif;
      max-width: 1000px;
      margin: auto;
      background-image: url('~/public/assets/images/back.png');
      background-size: 100%;
      background-repeat: no-repeat;
      color-scheme: dark;
      color: #fff;
}

* {
      outline: none;
}